$color-pink: #F16D7F;
$color-graphit: #222222;
$color-grey: #E8E8E8;
$color-white: #ffffff;
$color-black: #000000;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    padding: 0px 15px;
}

.hidden {
    display: none;
}

.header {
    padding: 20px 0px;
    background-color: $color-graphit;

    .header__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header__logo {
        margin-right: 41px;
    }

    .header__right {
        a:not(:last-child) {
            margin-right: 33px;
        }
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: $color-white;
        line-height: 0;
    }

    svg {
        fill: $color-grey;
    }
}

.cart {
    position: relative;

    .cart__number {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 19px;
        height: 19px;
        background-color: $color-pink;
        border-radius: 100%;
        line-height: 1;
        top: -8px;
        right: -8px;
    }
}

.banner {
    background: #F1E4E6;
    background-color: lighten($color-pink, 26.9);
    height: 764px;

    .banner__wrap {
        display: flex;
        justify-content: flex-end;
        background: url(../images/banner.png) -211px 0 no-repeat;
        height: 100%;
    }

    .banner__title {
        display: flex;
        align-items: center;
        max-width: 405px;

        h1 {
            font-size: 48px;
            font-weight: 900;
            border-left: 12px solid $color-pink;
            padding-left: 16px;
            color: $color-graphit;
            text-transform: uppercase;

            small {
                display: block;
                font-size: 32px;
                font-weight: 600;
            }

            span {
                color: $color-pink;
            }
        }
    }
}

.categories {
    margin-top: 65px;

    .categories__wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

        .category {
            width: 360px;
            height: 260px;
            position: relative;
            box-shadow: 0 0 0 130px rgba(#211616, 0.7) inset;

            >a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                text-decoration: none;
            }

            h3 {
                text-transform: uppercase;
                color: $color-pink;
                font-size: 24px;
                font-weight: 700;
                text-align: center;

                small {
                    display: block;
                    font-size: 16px;
                    font-weight: 400;
                    color: $color-white;
                }
            }

            &:last-child {
                width: 100%;
                height: 180px;
            }

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
}

.category-women {
    background-image: url(../images/cat-1.jpg);
}

.category-men {
    background-image: url(../images/cat-2.jpg);
}

.category-kids {
    background-image: url(../images/cat-3.jpg);
}

.category-accesories {
    background-image: url(../images/cat-4.jpg);
}

.feachured {
    margin-top: 95px;

    .feachured__header {
        text-align: center;
        margin-bottom: 48px;

        h2 {
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 5px;
        }

        p {
            color: darken($color-grey, 27);
        }
    }

    .feachured__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    .feachured__footer {
        text-align: center;
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    background-color: lighten($color-grey, 6.2);
    margin-bottom: 30px;

    a {
        line-height: 0;
        margin-bottom: 5px;
    }

    .product-card__footer {
        padding: 20px 15px;

        h3 {
            font-size: 13px;
            text-transform: uppercase;
            color: $color-black;
            margin-bottom: 13px;
        }

        p {
            font-weight: 300;
            margin-bottom: 18px;
            color: #5D5D5D;
            color: darken($color-grey, 55);
        }

        .price {
            font-size: 16px;
            color: $color-pink;
        }
    }
}

.btn {
    padding: 15px 40px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid;
    display: inline-block;

    &.btn-outline {
        color: $color-pink;
        border-color: $color-pink;

        &:hover {
            background-color: $color-pink;
            color: $color-white;
        }
    }
}

.advantages {
    background-color: $color-graphit;
    color: $color-white;
    padding: 104px 0;
    margin-top: 95px;

    .advantages__wrap {
        display: flex;
    }

    .advantage {
        padding-top: 61px;
        text-align: center;
        color: lighten($color-grey, 7.5);
        background-position: top center;
        background-repeat: no-repeat;

        h3 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 16px;
        }

        p {
            font-weight: 300;
        }
    }
}

.advantage-delivery {
    background-image: url(../svg/delivery.svg);
}

.advantage-sales {
    background-image: url(../svg/sales.svg);
}

.advantage-quality {
    background-image: url(../svg/quality.svg);
}

.socials {
    display: flex;
    padding: 0;
    list-style: none;

    li:not(:last-child) {
        margin-right: 8px;
    }

    a {
        display: block;
        padding: 8px;
        background: $color-white;
        line-height: 0;

        svg {
            fill: $color-black;
        }

        &:hover {
            background-color: $color-pink;

            svg {
                fill: $color-white;
            }
        }
    }
}

.footer {
    padding: 24px 0;
    background: $color-graphit;
    color: $color-white;

    p {
        font-size: 16px;
    }

    .footer__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.subscribe {
    padding: 95px 0 155px 0;
    background-image: url(../images/form-bg.jpg);
    box-shadow: 0px 0px 0px 230px rgba(lighten($color-grey, 7.5), 0.7) inset;
    background-repeat: no-repeat;
    background-size: cover;

    .subscribe__wrap {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.subscribe__info {
    max-width: 360px;
    text-align: center;

    img {
        border-radius: 100%;
        margin-bottom: 30px;
    }

    p {
        font-size: 20px;
        color: $color-graphit;
    }
}

.form-subscribe__header {
    text-align: center;
    margin-bottom: 32px;
    max-width: 360px;

    h2 {
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 1.6;

        small {
            display: block;
            font-size: 18px;
            font-weight: 400;
        }
    }
}

.form {
    display: flex;
    align-items: center;

    input {
        font-size: 14px;
        height: 49px;
        border-radius: 25px;
        line-height: 1.2;
        border: none;

        &.form-submit {
            padding: 7px 19px;
            cursor: pointer;
            color: $color-white;
            background-color: $color-pink;

            &:hover {
                background-color: desaturate(darken($color-pink, 6%), 15%);
            }
        }

        &.form-input {
            padding: 6px 22px;
            background-color: darken($color-grey, 2.8);

            &::placeholder {
                color: $color-graphit;
                opacity: 0.67;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.inline-form {
    .form-input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0;
        flex-grow: 1;
    }

    .form-submit {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}